section {
	border-bottom: 1px solid #707074;
	margin-bottom: 2em;
}
section:last-child {
	border-bottom: 0;
}
.tags span {
	padding: .1em;
	margin: .1em;
	margin-top: .3em;
	margin-bottom: .3em;
	background-color: #707074;
	border-radius: 5px;
}
.screenshot {
	float: left;
	clear: none;
}
.img-responsive {
	max-width: 100%;
}
.nsfw {
	color: red;
	font-weight: bold;
}

.page-inner h2 {
	margin-bottom: .5em;
}
