
html {
	font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
	font-size: 12px;
}

#content {
	width: 60em;
	margin: 0 auto;
	margin-top: 10em;
}

#bio {
	text-align: center;
}
#bio img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 3px solid #fefefe;
	box-shadow: 0px 0px 20px 8px #cccccc;
}

#bio h1 {

}

#bio h2 {
	color: #777;
}

#bio h3 {
	color: #999;
}

#canvas {
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	z-index: -1;
}
.links {
	margin-top: 100px;
	text-align: center;
}
.links ul {
	padding: 0;
	list-style: none;
}
.links ul li {
	padding: 20px;
	display: inline;
}
.links ul li a {
	color: #333;
	text-decoration: none;
}
.links ul li a:hover {
	color: #555;
}
